In [1]:
import pandas as pd

In [10]:
bdata = pd.read_csv("2019budgetData_prePrep.csv")

In [11]:
bdata.loc[0, "F2"]

'Description'

In [12]:
prevCol = None

for col in bdata:
  indicator = bdata[col][2]
  if indicator=="CV":
    bdata = bdata.drop([col], axis=1)

bdata

,F2,F3,F8,F13,F18,F23,F28,F33,F38,F43,...,F213,F218,F223,F228,F233,F238,F243,F248,F253,F258
0,Description,United States Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,NaN,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,...,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local,State & local
2,NaN,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,...,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1,amount1
3,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Description,C1,C6,C11,C16,C21,C26,C31,C36,C41,...,C211,C216,C221,C226,C231,C236,C241,C246,C251,C256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,By purpose:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Offsets to debt,"755,470,917","2,941,192","4,315,798","8,657,603","5,663,896","67,295,278","15,931,787","16,244,007","1,742,314",...,"3,272,224","19,662,489","54,027,156","4,298,944","2,345,048","18,229,930","11,166,268","1,092,359","16,758,557","866,720"
151,Bond funds,"250,326,583","3,022,136","398,628","2,895,593","2,212,703","42,974,910","7,295,806","1,222,751","400,460",...,"212,496","4,567,098","39,603,266","3,620,098","81,096","4,896,682","8,660,646","423,098","3,027,421","340,159"
152,Other,"1,913,239,021","22,708,818","80,000,675","34,653,140","12,604,952","312,716,906","43,233,119","10,357,884","6,505,492",...,"6,197,081","23,187,867","234,517,860","13,865,904","2,966,111","39,186,837","37,990,057","5,532,540","14,015,938","25,560,203"
153,"Revision date: June 26, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
bdata = bdata.drop([1, 2, 3, 4])

In [14]:
bdata.columns = bdata.iloc[0]

In [15]:
bdata = bdata.drop([0])

In [16]:
bdata.to_csv("19budgetData_post1prep.csv")

In [17]:
bdata

,Description,United States Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
5,Revenue1,"4,073,109,422","53,516,481","13,912,638","71,901,145","30,683,340","662,194,541","63,639,630","51,379,896","12,503,477",...,"8,452,382","69,679,636","292,924,997","34,572,581","8,552,680","97,498,356","107,029,050","19,151,322","55,887,391","9,561,646"
6,General revenue1,"3,464,410,792","44,823,455","12,152,668","59,114,341","27,063,905","529,008,818","58,444,592","45,504,839","11,229,189",...,"7,195,356","51,065,583","254,737,112","31,496,860","7,709,312","84,307,839","85,385,769","17,107,590","54,987,037","8,771,293"
7,Intergovernmental revenue1,"762,034,820","12,403,701","3,929,975","17,556,420","8,193,548","112,709,434","10,098,828","8,934,112","2,583,811",...,"1,663,467","12,653,518","50,908,970","5,460,357","2,133,128","12,899,837","15,523,709","5,301,333","10,943,014","2,420,360"
8,From Federal Government,"762,034,820","12,403,701","3,929,975","17,556,420","8,193,548","112,709,434","10,098,828","8,934,112","2,583,811",...,"1,663,467","12,653,518","50,908,970","5,460,357","2,133,128","12,899,837","15,523,709","5,301,333","10,943,014","2,420,360"
9,From State government1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,By purpose:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Offsets to debt,"755,470,917","2,941,192","4,315,798","8,657,603","5,663,896","67,295,278","15,931,787","16,244,007","1,742,314",...,"3,272,224","19,662,489","54,027,156","4,298,944","2,345,048","18,229,930","11,166,268","1,092,359","16,758,557","866,720"
151,Bond funds,"250,326,583","3,022,136","398,628","2,895,593","2,212,703","42,974,910","7,295,806","1,222,751","400,460",...,"212,496","4,567,098","39,603,266","3,620,098","81,096","4,896,682","8,660,646","423,098","3,027,421","340,159"
152,Other,"1,913,239,021","22,708,818","80,000,675","34,653,140","12,604,952","312,716,906","43,233,119","10,357,884","6,505,492",...,"6,197,081","23,187,867","234,517,860","13,865,904","2,966,111","39,186,837","37,990,057","5,532,540","14,015,938","25,560,203"
153,"Revision date: June 26, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN